.item-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.item-info {
    flex: 1;
    text-align: center;
}

.name {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.brand {
    font-size: 15px;
    margin: 0;
    text-align: left;
}

.price {
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}

.like-container,
.comment-container {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.like-container {
    margin-left: 180px;
}

.comment-list {
    width: 500px;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 500px;
}

.comment-left,
.comment-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    width: 70px;
}

.comment-left {
    order: 1;
}

.comment-right {
    order: 2;
    margin-left: auto;
    /* 右側に寄せる */
}

.comment-avatar {
    max-width: 50px;
    border-radius: 50%;
    height: 50px;
}

.comment-text-right {
    margin-left: 80px;
}

.comment-text-left {
    order: 2;
    text-align: left;
    max-width: 70%;
    margin-bottom: 5px;
}

.comment-text-right {
    order: 1;
    text-align: right;
}

.default-avatar {
    font-size: 50px;
}

.comment-text {
    flex: 1;
    margin: 10px;
}

.item-comments {
    flex: 2;
    margin: 20px;
    width: 500px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
        flex-direction: column;
}

.btn-primary {
    background-color: #ff5a5f;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #ff787b;
}

.like-button,
.unlike-button,
.comment-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.like-button i,
.unlike-button i,
.comment-button i {
    font-size: 2rem;
    color: #000000;
}