.item-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 850px;
    border: 1px solid #ccc;
    /* 外枠の色と幅を設定 */
    border-radius: 8px;
    /* 角を丸くする */
    padding: 10px;
    /* 内側の余白を設定 */
    margin: 20px auto;
    /* 中央に配置 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 影を付ける */
    background-color: #fff;
    /* 背景色を白に設定 */
}

.item-info {
    flex: 1;
    text-align: center;
    margin-right: 25px;
}

.name {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.brand {
    font-size: 15px;
    margin: 0;
    text-align: left;
}

.price {
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}

.like-container,
.comment-container {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.like-container {
    margin-left: 0px;
}

.comment-list {
    width: 500px;
}

.comment {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0px;
    max-width: 400px;
    margin: 5px auto 0;
}

.comment-left,
.comment-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    width: 70px;
}

.comment-left {
    order: 1;
}

.comment-right {
    order: 2;
    margin-left: auto;
    /* 右側に寄せる */
}

.comment-avatar-right {
    max-width: 55px;
    border-radius: 50%;
    height: 55px;
    margin-left: 60px;
}

.comment-avatar-left {
    max-width: 55px;
    border-radius: 50%;
    height: 55px;
    margin-right: 45px;
}

.date-right {
    display: inline-block;
    width: 120px;
    margin: 0px 0px 0px 70px;
    font-size: 10px;
}

.date-left {
    display: inline-block;
    width: 175px;
    margin: 0px 0px 0px 25px;
    font-size: 10px;
}

.comment-text-right {
    margin-left: 80px;
    text-align: left; /* テキストを左揃え */
    flex-grow: 1; /* テキストエリアを拡大 */
        /* テキストを左揃え */
}

.comment-text-left {
    order: 2;
    text-align: left;
    max-width: 70%;
    margin-bottom: 5px;
}

.default-avatar {
    font-size: 50px;
}

.comment-text {
    flex: 1;
    margin: 10px;
}

.item-comments {
    flex: 2;
    margin: 20px;
    width: 500px;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.btn-primary {
    background-color: #ff5a5f;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #ff787b;
}

.like-button,
.unlike-button,
.comment-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.like-button i,
.unlike-button i,
.comment-button i {
    font-size: 2rem;
    color: #000000;
}

.error-message {
    color: red;
    font-weight: bold;
}

/* comment.css */

.login-required-message {
    color: #000000;
    /* テキストの色を赤に設定 */
    font-size: 1.2em;
    /* フォントサイズを設定 */
    margin-top: 20px;
    /* 上部に余白を追加 */
    text-align: center;
    /* テキストを中央揃えに設定 */
    background-color: #f9f9f9;
    /* 背景色を設定 */
    padding: 10px;
    /* 内部余白を追加 */
    border-radius: 5px;
    /* 角を丸くする */
    border: 1px solid #ccc;
    /* 枠線を追加 */
}

.login-required-message .login-link {
    color: #007bff;
    /* リンクの色を設定 */
    font-weight: bold;
    /* リンクの太さを設定 */
    text-decoration: underline;
    /* 下線を追加 */
}

.login-required-message .login-link:hover {
    color: #0056b3;
    /* リンクのホバー時の色を設定 */
}

.item-image-container {
    position: relative;
    max-width: 300px;
}

.item-image {
    width: 100%;
}

.sold-out-overlay {
    position: absolute;
    top: 100px;
    left: 45px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight: bold;
    padding: 0px 15px;
    border-radius: 20px;
}

.sold-out-required-message {
    color: #000000;
    /* テキストの色を赤に設定 */
    font-size: 1.2em;
    /* フォントサイズを設定 */
    margin-top: 20px;
    /* 上部に余白を追加 */
    text-align: center;
    /* テキストを中央揃えに設定 */
    background-color: #f9f9f9;
    /* 背景色を設定 */
    padding: 10px;
    /* 内部余白を追加 */
    border-radius: 5px;
    /* 角を丸くする */
    border: 1px solid #ccc;
    /* 枠線を追加 */
}

.btn-danger {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(255, 0, 0);
    font-size: 10px;
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 20px;
}

@media (max-width: 980px) {
    .item-detail {
        flex-direction: column;
        align-items: center;
    }

    .item-info {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .item-comments {
        flex: auto;
        margin: 20px;
        max-width: 500px;
        }

        .date-right {
            display: inline-block;
            width: 120px;
            margin: 0px 0px 0px 70px;
            font-size: 10px;
        }

        .item-detail {
            width: 550px;
        }
}
