.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
}

.justify-content-center {
    width: 600px;
    margin-top: 10px;
}

.card {
    width: 100%;
    max-width: 600px;
    margin: 180px 20px 20px 20px;
    padding: 20px;
}

.alert-success {
    color: green;
    font-size: 18px;
    font-weight: bold;
}

.card-header {
    text-align: center;
    /* 中央揃えに設定 */
}

.main {
    font-size: 30px;
    margin-top: 0px;
}

.image-preview-container {
    text-align: center;
    border: 1px dashed #ccc;
    padding: 10px;
    cursor: pointer;
    position: relative;
    height: 230px;
}

.image-upload {
    border: 1px solid red;
    color: red;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    margin-bottom: 5px;
    display: inline-block;
}


.form-control-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.image-preview {
    max-width: 100%;
    max-height: 170px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.sub {
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    color: #878787;
}

.form-group {
    margin-bottom: 25px;
    
}

.item-font {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.form-control, .btn-primary {
    width: 100%;
}

.btn-primary {
    background-color: #ff8400;
    border-color: #bd7812;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #ff8400;
    border-color: #bd7812;
}

.invalid-feedback {
    color: red;
    font-weight: bold;
}
