.central-container {
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.listtype__content {
    margin: 0;
}

.listtype-nav__button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    cursor: pointer;
}

.listtype-nav {
    margin-bottom: 0px;
}

.listtype-nav__item {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

.listtype-nav__button.selected {
    color: red;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin: 0 auto;
    padding: 0 5px;
}

.item .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid #000000;
    margin-left: 0;
    /* 左寄せにする */
}

.item {
    position: relative;
    /* これを追加 */
    display: inline-block;
    width: 180px;
    height: 225px;
    overflow: hidden;
    border-radius: 3px;
    border: 2px solid #000000;
    margin: 0 auto;
    margin-right: 5px;
}

.hidden {
    display: none;
}

.card-text {
    position: relative;
    margin: 0;
    bottom: 30px;
    left: 5px;
    width: 100%;
    text-align: left;
}

.card-text span {
    background-color: #d5d5d5;
    padding: 3px 6px;
    border-radius: 10px;
}

.card-title {
    margin: -25px 2px 2px 2px;
    text-align: center;
    font-size: 18px;
}

.listtype__content {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.listtype__content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

/* 新しいスタイルの追加 */
.sold-out {
    position: absolute;
    width: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: red;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 5px;
    border-radius: 20px;
    text-align: center;
}