.page-wrapper {
    width: 100%;
    max-width: 1680px;
    margin: 1px auto;
    padding: 3%;
}

.header {
    height: 55px;
    position: relative;
    background: #000;
}

.header__logo{
    padding-top: 10px;
    padding-left: 10px;
}

.register__content {
    border: 1px solid #ccc;
    /* 外枠の色と幅を設定 */
    border-radius: 8px;
    /* 角を丸くする */
    padding: 10px;
    /* 内側の余白を設定 */
    max-width: 600px;
    /* 最大幅を設定 */
    margin: 0 auto;
    /* 中央に配置 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 影を付ける */
    background-color: #fff;
    /* 背景色を白に設定 */
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #f38627;
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}

.item__link {
    margin-top: 20px;
    text-align: center;
}